# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the commonly used libraries used by Data Scientists include:

# 1. NumPy
# 2. Pandas
# 3. Matplotlib
# 4. Scikit-learn
# 5. TensorFlow

| Data Science Tools         |
|----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Apache Zeppelin             |

# Some of the popular languages that Data Scientists use are:

# 1. Python
# 2. R
# 3. SQL
# 4. Julia
# 5. Java

### Below are a few examples of evaluating arithmetic expressions in Python

### Below are a few examples of evaluating arithmetic expressions in Python

# This is a simple arithmetic expression to multiply then add integers

In [1]:
(3 * 4) + 5

17

# This will convert 200 minutes to hours by dividing by 60

In [2]:
200 / 60

3.3333333333333335

**Objectives:**

- List popular languages for Data Science: Python, SQL
- List commonly used libraries in Data Science:
- Demonstrate arithmetic expression examples in Python
- Convert minutes to hours
- Create tables and lists in Markdown

## Author

Lakshmi Holla

Niveditha Pandith

## Author

Surya D

## Author

Surya D